<a href="https://colab.research.google.com/github/VikneshBS/Coursera/blob/main/Tools%20for%20Data%20Science/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 2: Create markdown cell with title of the notebook**

# Data Science Tools and Ecosystems

**Exercise 3 - Create a markdown cell for an introduction**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Exercise 10 - Insert a markdown cell to list Objectives**

**Objectives:**
- List Populare Languages for Data Science
- List Data Science Libraries
- Table of Data Science Tools
- Examples of Arithmetic Expressions

**Exercise 4 - Create a markdown cell to list data science languages**

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Java
5. C++

**Exercise 5 - Create a markdown cell to list data science libraries**

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. SciPy

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

|Data Science Tools|
--------------------
|Jupyter IDE|
|RStudio|
|Apache Spark SQL|

**Exercise 7 - Create a markdown cell introducing arithmetic expression**

### Below are a few examples of evaluating arithmetic expressions in Python

**Exercise 8 - Create a code cell to multiply and add numbers**

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

**Exercise 9 - Create a code cell to convert minutes to hours**

In [6]:
# This will convert 200 minutes to hours by diving by 60
(200//60)

3

**Exercise 11 - Create a markdown cell to indicate the Author's name**

## Author
Viknesh B S